/* Медиа-запрос для экранов от 390px */
@media (max-width: 740px) {
    .body{
        max-width: 350px;
    }
    .main_heading{
        font-size: 35px;
        line-height: 39.67px;
        margin-bottom: 34px;
    }
    .filter .filter_row_two_free,.filter .filter_row_one{
        grid-template-columns: 1fr;
    }
    .filter .priceRange{
        grid-row: 2; 
        grid-column: 1;
    }
    .filter .input_max_min{
        display: block;
        grid-row: 3/5; 
        grid-column: 1;
    }

    .filter #min_area, .filter #max_area {
        max-width: 270px !important;
        height: 50px;
    }
    .filter #min_area {
        margin-right: 0;
    }
    .filter #min_area{
        margin-bottom: 20px;
    }
    .filter .room{
        display: grid;
        grid-template-columns:auto auto;
        row-gap: 20px;
        justify-content: space-between;
    }
    .filter .room input{
        margin: 0 !important;
    }
    /* .apartment_image {
        width: 300px;
        height: 203.33px;
    
     }
     .apartment_image img {
        width: 300px;
        height: 203.33px;
     } */
    .apartment_listing {
        grid-template-columns: auto; /* Три колонки одинаковой ширины */
        justify-content: space-between; /* Распределяет колонки по горизонтали */
    }
    .iframe_loader_body{
        grid-column: 1;
    }
}
@media (max-width: 740px) {
    .modal_body{
        width: 370px;
        margin-bottom: 10px;
    }
    .modal_image {
        width: 370px;
        height: 504px;
    
     }
    .modal_image img {
        width: 370px;
        height: 504px;
     }
     .modal_highlights{
        display: flex;
        justify-content: start;
        white-space: nowrap;
        flex-wrap: wrap
     }
    .modal_highlights div{
        margin-left: 8px;
        margin-bottom: 13px;
    }
    .modal_highlights div:nth-child(1),.modal_highlights div:nth-child(7),.modal_highlights div:nth-child(11){
        margin-left: 0px;
    }
   
     .modal_info{
        padding: 0 10px;
        max-width: 350px;
     }
     .modal_additional_information{
        margin-top: 30px;
    }
    .modal_description{
        padding-bottom: 40px;
    }
    .modal_img_list{
        grid-template-columns: auto auto; /* две внешние колонки будут гибкими */
        row-gap: 10px;
    }

    .modal_img_list .modal_img_item {
        width: 170px;
        height: 156px;
    
     }
     .modal_img_list .modal_img_item img {
        width: 170px;
        height: 156px;
     }
     .modal_amenities > div{
        grid-template-columns: auto; /* две внешние колонки будут гибкими */
    }
    .modal_amenities .modal_list > div{
        width: 350px;
    }
    .modal_amenities .modal_title{
        width: 350px;
    }
    .modal_amenities .modal_title span{
        margin-right: auto;
    }

    .modal_property_details > div{
        grid-template-columns: auto; /* две внешние колонки будут гибкими */
    }
    .modal_property_details .modal_list > div{
        width: 350px;
    }
    .modal_pricing > div{
        grid-template-columns: auto;
        grid-template-rows: repeat(9, 1fr); /* Пять строк */
    }
    .modal_pricing .modal_list > div{
        width: 350px;
    }
    .modal_pricing #deposit_structure{
        grid-column: 1; 
        grid-row: 5/9;
        height: 100%;
    }
    .modal_pricing #deposit_amount{
        grid-column: 1; 
        grid-row: 9/11;
    }
    .modal_pricing  #deposit_structure .modal_title span,
    .modal_pricing  #deposit_amount .modal_title span{
        margin-right: 21px;
    }
    .modal_location{
        margin-top: 40px;
    }
    .modal_location .modal_address{
        white-space: wrap;
    }
    .modal_map {
        margin-bottom: -50px;
      }
}
@media (max-width: 740px) {
    .modal_body_slider_window{
        max-width: 340px;
        overflow: hidden;
    }
    .slider_thumbnails_item{
        width: 50px;
        height: 50px;
    }
    .slider_thumbnails_item img{
        width: 50px;
        height: 50px;
    }
    .slider_main .slick-prev,.slider_main .slick-prev:hover{
        left: -5px;
        top:  445px;
    }
    .slider_main .slick-next, .slider_main .slick-next:hover {
        right: -5px;
        top:   445px;
    }
    .slider_thumbnails{
        max-width: 270px;
        /* width: 100%;
        margin: 0 auto;
        margin-top: 20px; */
    }
}